* {
	all: unset;
}


.user{
	background-color: #120f26;
	border-radius: 10px;

	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;

	margin-right: 15px
}

.time{
	background-color: #120f26;
	border-radius: 10px;

	padding-left: 35px;
	padding-right: 25px;

	margin-top: 10px;
}

.osu{	
	background-color: #120f26;
	border-radius: 10px;

	margin : 0px;
	padding: 50px;
}

.firefox{
	margin-left: 10px;
}

.fr{
	margin-top: 10px;
	margin-left: 10px;
}

button{
	background-color: #120f26;	
	border-radius: 10px;

	padding-left: 45px;
	padding-right: 75px;
}

button:hover{
	background-color: #26233a;
}


/* ICONS -=- NAME -=- DESC -=- CLOCK -=- DATE */ 

.user-name{
	font-size: 50px;
	font-weight: bold;
	color: #eb6f92;
	padding-top: 15px;
}

.desc{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #6e6a86;
	padding-top: 25px;
}

.profile-picture{
	border-radius: 25px;
	padding-top: 10px;
}




.hour-label{
	font-weight: bold;

	padding-bottom: 50px;

	color: #ebbcba;
}

.min-label{
	font-weight: bold;

	padding-left: 5px;

	color: #c899a6;
}

.day-label{
	font-size: 100%;
	font-weight: bold;
	color: #f6c177;

	padding-top: 10px;
	padding-bottom: 17px; 
}


.num-label{
	font-size: 100%;
	color: #9ccfd8;
	font-weight: bold;

	
	padding-left: 30px;

}





.firefox-icon{
	color: #e2a363;
	font-size: 100px;	
}

.discord-icon{
	color: #31748f;
	font-size: 100px;
}

.cider-icon{
	color: #eb6f92;
	font-size: 100px;
}

.shutdown-icon{
	color: #c899a6;
	font-size: 100px;
}

.reboot-icon{
	color: #74a7bf;
	font-size: 100px;
}

.lock-icon{
	color: #a189c9;
	font-size: 100px;
}

.exit-icon{
	color: #c7c5e0;
	font-size: 100px;
}

