@define-color background      rgba(18, 15, 38, 0.95); 
@define-color bg1             #26233a; 
@define-color bg2             #6e6a86;
@define-color red1			  #eb6f92; 
@define-color red2            #af5b7e;
@define-color gre1            #31748f;
@define-color gre2            #3b607b;
@define-color god1            #f6c177;
@define-color god2            #e2a363;
@define-color blu1            #9ccfd8;
@define-color blu2            #74a7bf;
@define-color mag1            #c4a7e7;
@define-color mag2            #a189c9;
@define-color cya1            #ebbcba;
@define-color cya2            #c899a6;
@define-color whi1            #e0def4;
@define-color whi2            #c7c5e0;



* {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

menu menuitem:hover {
	color: @god1; 
}

window#waybar {
	background: @background;
}

.modules-left {
	padding-left: 10px;
}

.modules-center {
	border-radius: 0;
}

.modules-right {
	padding-right: 10px;
}

#workspaces button {
	padding-top: 2px;
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	all: initial;
	padding: 0 5px;
	margin: 0 0px;
	min-width: 5px;
	color: @gre1;
}

#workspaces button.active {
	color: @blu2;
}

#workspaces button.empty {
	opacity: 0.3;
}

#workspaces button:hover {
	color: @god1;
	opacity: 1;
	border-radius: 0px;
}

#mpris {
	color: @red1;
	font-weight: 600;
}

#user {
	font-family: 'DaddyTimeMono Nerd Font';
	font-size: 20px;
	font-weight: bold;
	color: @cya1;
	padding-top: 2px;
}

#user:hover{
	font-family: 'TorusPro';
	color: @cya2;
}

#pulseaudio {
	padding-top: 1px;
	color: @blu2;
}

#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
	padding-right: 0px;
}
#pulseaudio-slider trough {
	min-height: 6px;
	min-width: 80px;
	background-color: @bg1;
}

#pulseaudio-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: @blu1;
	padding-bottom: 1px;
}

#custom-bar{
	color: @bg2;
	opacity: 0.75;
	font-weight: bold;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 17px;
	
	padding-left: 15px;
	padding-right: 15px;
}

#custom-bar2{
	color: @bg2;
	opacity: 0.75;
	font-weight: bold;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 17px;
	
	padding-right: 15px;
}

#custom-distro{
	font-family: "JetBrainsMono Nerd Font";
	color: @gre1;
	padding-top: 2px;
	padding-right: 10px;
}

#custom-distro:hover{
	color: @cya1;
}

#window {
	font-weight: bold;
	color: @mag1;

	padding-left: 25px;
}

#clock {
	font-family: "DaddyTimeMono Nerd Font";
	font-weight: bold;
	color: @god1;
	
}

#custom-dots {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 20px;
	font-weight: bold;
	opacity: 0.75;
	color: @god2;
	padding-left: 5px;
	padding-right: 5px;
}
